* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #ffffff, #24aa8b, #ffffff);
}

.main {
    text-align: center;
    padding-top: 40px;
}

.container {
    max-width: 1200px;
}

h3 {
    font-size: 35px;
    font-family: 'Playball', cursive;
    color: #173B9C;
    padding-bottom: 20px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li,
h3 {
    clear: both;
    list-style: none;
}

.btn-sample {
    color: #FFFFFF;
    background-color: #173B9C;
    border-color: #130269;
    font-family: 'Playball', cursive;
    cursor: pointer;
}

.btn-sample:hover {
    color: #ffffff;
    background-color: #3b66d9;
    transform: scale(1.1)
}

label[for='new-task'] {
    display: block;
}

input#new-task {
    width: 60%;
    height: 40px;
    margin-right: 20px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}

li > label {
    font-size: 18px;
    font-family: 'Yatra One', cursive;
    line-height: 40px;
    width: 50px;
    padding: 0 0 0 11px;
}

li > input[type="text"] {
    width: 226px;
}

.delete {
    float: right;
    background-color: #fafafa;
    color: #24aa8b;
    border-radius: 10px;
}

.checkmark {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #c62222;
    border-radius: 50%;
}

#completed-tasks label {
    text-decoration: line-through;
    color: #888;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.popup .popuptext {
    visibility: hidden;
    width: 17rem;
    background-color: rgb(23, 59, 156);
    color: #e22727;
    text-align: center;
    border-radius: 25px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #173B9C transparent transparent #173B9C;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.popup .hide {
    display: none;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
